
$dark-label:        rgba(86, 86, 86, 1); //'#565656'
$light-label:       rgba(17, 117, 117, 1); //'#757575'
$light-gray:        rgba(216, 216, 216, 1); // #D8D8D8
$white:             rgba(255, 255, 255, 1); //'#FFFFFF'
$yellow:            rgba(255, 255, 0, 1); //'#ffff00'
$placeholder-text:  rgba(204, 204, 204, 1); //'#CCCCCC'
$form-blue:         rgba(32, 111, 204, 1); //'#206FCC'
$error-red:         rgba(227, 49, 61, 1);;